<a href="https://colab.research.google.com/github/Yasha-Wadhawan/PW/blob/main/PW_Pandas_part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# this notebook is about series and its operation

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
s = df['Name'][0:10]                          # now here s is series   in series we have INDEX  and one column         in list we dont have index

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

# How to change the default index and give out own index (named index)

In [ ]:
l = ['yasha','b', 'c', 'd', 'e', 'f', 'g', 'h','i','j']                   # this is the list

In [ ]:
s1 = pd.Series(list(s), index = l)                                           # this will not permanentely change the series
#pd.Series(s, index = l)
#pd.Series(s, index = None)

In [ ]:
s1

yasha                              Braund, Mr. Owen Harris
b        Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                   Heikkinen, Miss. Laina
d             Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                 Allen, Mr. William Henry
f                                         Moran, Mr. James
g                                  McCarthy, Mr. Timothy J
h                           Palsson, Master. Gosta Leonard
i        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                      Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [ ]:
s1[0]                                       # even though in s1 names index is given but still it will remember defaut index

'Braund, Mr. Owen Harris'

In [ ]:
s1['yasha']

'Braund, Mr. Owen Harris'

In [ ]:
s2 = s1.append(s)                                         # with this append we can concatinate 2 or more index   and NOT a single element

<ipython-input-48-a96a20d80cdf>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)                                         # with this append we can concatinate 2 or more index   and NOT a single element

In [ ]:
s2

yasha                              Braund, Mr. Owen Harris
b        Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                   Heikkinen, Miss. Laina
d             Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                 Allen, Mr. William Henry
f                                         Moran, Mr. James
g                                  McCarthy, Mr. Timothy J
h                           Palsson, Master. Gosta Leonard
i        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                      Nasser, Mrs. Nicholas (Adele Achem)
0                                  Braund, Mr. Owen Harris
1        Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                   Heikkinen, Miss. Laina
3             Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                 Allen, Mr. William Henry
5                                         Moran, Mr. James
6                                  McCarthy, Mr. Timothy J
7                           Palsson, Master. Gosta Leonard
8        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                      Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

# NOW IF THE WE HAVE NAMED INDEX AS INTEGER SO IF WE CALL THE ELEMENT USING IT SO DEFAULT INDEX ELEMENT WILL BE SHOWN OR NAMED INDEX ELEMENT WILL BE SHOWN??

if we have the list like index with from the beginning of the entire series

In [ ]:
s3 = pd.Series(['a', 'b', 'c', 'd', 'e'], index= [2,9,6,8,12])

In [ ]:
s3[2]

'a'

In [ ]:
s3[9]
#s3[4]

'b'

In [ ]:
s4 = pd.Series(['f','g','h','i','j'])

In [ ]:
s5 = s3.append(s4)

<ipython-input-61-97ef9bcb5afd>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s5 = s3.append(s4)

In [ ]:
s5

2     a
4     b
6     c
8     d
12    e
0     f
1     g
2     h
3     i
4     j
dtype: object

In [ ]:
s5[2]                                # now by putting integer in []   the named index is called

2    a
2    h
dtype: object